[Unit]
Description = ladiobot daemon

[Service]
ExecStart = /usr/bin/ruby /opt/futuladio/main.rb
Restart = always
Type = simple
WorkingDirectory=/opt/futuladio

[Install]
WantedBy = multi-user.target

